<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center>
    <a class="navbar-brand" href="/index"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/novaEmpresa">Empresa</a>
                    <a class="dropdown-item" href="/novoUsuario">Usuário</a>
                    <a class="dropdown-item" href="/novaMarca">Marca</a>
                    <a class="dropdown-item" href="/novoProduto">Produto</a>
                    <a class="dropdown-item" href="/novoClientepf">Cliente P.F</a>
                    <a class="dropdown-item" href="/novoClientepj">Cliente P.J</a>
                    <a class="dropdown-item" href="/novoFornecedor">Fornecedor</a>
                    <a class="dropdown-item" href="/novaGrade">Grade</a>
                    <a class="dropdown-item" href="/novaCondpag">Condição de Pagamento</a>
                    <a class="dropdown-item" href="/login">Login</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/novaEmpresa">Empresa</a>
                    <a class="dropdown-item" href="/novoUsuario">Usuário</a>
                    <a class="dropdown-item" href="/novaMarca">Marca</a>
                    <a class="dropdown-item" href="/novoProduto">Produto</a>
                    <a class="dropdown-item" href="/novoClientepf">Cliente P.F</a>
                    <a class="dropdown-item" href="/novoClientepj">Cliente P.J</a>
                    <a class="dropdown-item" href="/novoFornecedor">Fornecedor</a>
                    <a class="dropdown-item" href="/novaGrade">Grade</a>
                    <a class="dropdown-item" href="/novaCondpag">Condição de Pagamento</a>
                    <a class="dropdown-item" href="/login">Login</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Visualizar/Alterar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/empresa">Empresa</a>
                    <a class="dropdown-item" href="/usuario">Usuário</a>
                    <a class="dropdown-item" href="/marca">Marca</a>
                    <a class="dropdown-item" href="/produto">Produto</a>
                    <a class="dropdown-item" href="/clientepf">Cliente P.F</a>
                    <a class="dropdown-item" href="/clientepj">Cliente P.J</a>
                    <a class="dropdown-item" href="/fornecedor">Fornecedor</a>
                    <a class="dropdown-item" href="/grade">Grade</a>
                    <a class="dropdown-item" href="/condpag">Condição de Pagamento</a>
                    <a class="dropdown-item" href="/estoqueEntrada">Estoque Entrada</a>
                    <a class="dropdown-item" href="/estoqueSaida">Estoque Saida</a>
                    <a class="dropdown-item" href="/pedidoGlobal">Pedido Global</a>
                    <a class="dropdown-item" href="/pedidoCalcadista">Pedido Calçadista</a>
                    <a class="dropdown-item" href="/pedidoLaticinio">Pedido Laticinios</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Estoque
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/novoEstoqueEntrada">Entrada</a>
                    <a class="dropdown-item" href="/novoEstoqueSaida">Saida</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Vendas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/novoPedidoglobal">Pedido de Venda</a>
                    <a class="dropdown-item" href="/novoPedidoCalcadista">Pedido Calçadista</a>
                    <a class="dropdown-item" href="/novoPedidoLaticinio">Pedido Laticínios</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Relatórios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/relatorioVenda">Relatório de Venda</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Informações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/info">Informações sobre o sistema</a>
                </div>
            </li>
        </ul>
    </div>
</nav>