<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Novo Cliente P.F</title>
</head>
<style>
    body {
        background-color: #E0F2F7;
    }
</style>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <form action="/clientepf/novo" method="post">
        <div class="container-fluid formulario">
            <div class="form-group row" style="display: flex;justify-content: center">
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Novo Cliente P.F</h2>
            </div>
        </div>
        <div class="form-group row" style="display: flex;justify-content: center">

            <div class="col-md-1 ">
                <label for="clientepf">Tipo</label>
                <select class="form-control custom-select" name="pessoa_tipo" id="tipo" readonly>
                    <option>PF</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="clientepf">Nome</label>
                <input type="text" maxlength="100" name="pessoa_nome_raz" class="form-control " id="nome" placeholder="Informe o nome ">
            </div>
            <div class="col-md-3 ">
                <label for="clientepf">Apelido</label>
                <input type="text" maxlength="100 " name="pessoa_ape_fan" class="form-control " id="apelido"
                    placeholder="Digite o apelido">
            </div>

            <div class="col-md-2 ">
                <label for="clientepf">CPF</label>
                <input type="number" maxlength="50" name="pessoa_cpf_cnpj" class="form-control " id="cpf" placeholder="Informe o CPF ">
            </div>
        </div>
        <div class="form-group row" style="display: flex;justify-content: center">

            <div class="col-md-2 ">
                <label for="clientepf">RG</label>
                <input type="number" maxlength="50" name="pessoa_rg_ins" class="form-control " id="cpf" placeholder="Informe o RG ">
            </div>
            <div class="col-md-2 ">
                <label for="clientepf">Emissor</label>
                <input type="text" maxlength="20 " name="pessoa_emissor" class="form-control " id="emissor" placeholder="Emissor RG ">
            </div>
            <div class="col-md-1 ">
                <label for="clientepf">Sexo</label>
                <select class="form-control custom-select" name="pessoa_sexo" id="sexo">
                    <option>M</option>
                    <option>F</option>
                </select>
            </div>
            <div class="col-md-2 ">
                <label for="clientepf">Fone</label>
                <input type="number" maxlength="30" name="pessoa_fone" class="form-control" id="fone" placeholder="Telefone">
            </div>
            <div class="col-md-2 ">
                <label for="clientepf">Celular</label>
                <input type="number" maxlength="30" name="pessoa_cel" class="form-control" id="cel" placeholder="Celular">
            </div>
        </div>

        <div class="form-group row" style="display: flex;justify-content: center">
            <div class="col-md-2 ">
                <label for="clientepf">E-mail</label>
                <input type="email" maxlength="50" name="pessoa_email" class="form-control " id="email" placeholder="Informe o E-mail">
            </div>
            <div class="col-md-2 ">
                <label for="clientepf">CEP</label>
                <input type="number" maxlength="30" name="pessoa_cep" class="form-control" id="cep" placeholder="Digite o CEP">
            </div>
            <div class="col-md-2 ">
                <label for="clientepf ">Endereço</label>
                <input type="text" maxlength="200" name="pessoa_end" class="form-control " id="end" placeholder="Digite o endereço">
            </div>
            <div class="col-md-2 ">
                <label for="clientepf ">Numero</label>
                <input type="number" maxlength="10" name="pessoa_num" class="form-control " id="num" placeholder="Numero">
            </div>
        </div>
        <div class="form-group row" style="display: flex;justify-content: center">
            <div class="col-md-2">
                <label for="clientepf ">Bairro</label>
                <input type="text" maxlength="100" name="pessoa_bairro" class="form-control " id="bairro" placeholder="Informe o bairro">
            </div>
            <div class="col-md-1 ">
                <label for="clientepf">Estado</label>
                <select class="form-control custom-select " name="pessoa_uf" id="uf">
                    <% include ../partials/estado %>
                </select>
            </div>
            <div class="col-md-2">
                <label for="clientepf">Cidade</label>
                <select class="form-control custom-select " name="pessoa_cidade" id="cidade">
                    <% include ../partials/cidades %>
                </select>
            </div>

        </div>
        <div class="form-group row " style="display: flex;justify-content: center">

        </div>
        <div class="form-group row " style="display: flex;justify-content: center">
            <div class="col-md-1 ">
                <button type="submit " class="btn btn-primary btn-block ">Salvar</button>
            </div>


    </form>
    <div class="col-md-1 ">
        <a class="btn btn-secondary btn-block " href="/clientepf">Voltar</a>
    </div>
    </div>

    <script src="/js/bootstrap/bootstrap.js "></script>
</body>

</html>