<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-4">
            </div>
            <h3 style=" border-bottom: 1px #c5c5c5 solid; position:relative;left:05%">Condições de Pagamento</h3>
        </div>
        <button style="display: block; margin: auto; margin-bottom: 5px;" class="btn btn-primary" onclick="gerarRelatorio(null, 'condpag')">
            Relatório
        </button>
        <br>
    </div>
    <style>
        table#condpagtabela thead {
            position: fixed;

        }
    </style>

<div style="overflow: auto; width: 340px" class="container-fluid">
        <table class="table table-striped table-dark table-sm">

        <tr>         
           
            <th>Cod</th>
            <th>Dias</th>
            <th>Altera</th>
            <th></th> 
            <th>Deleta</th> 
            <th></th> 
            <th></th>         
            <th></th>     
             
        </tr>
        </thead>
    </table>
    </table>
    </div>
    <div style="overflow: auto; width: 320px; height: 350px; border:solid 1px " class="container-fluid">
        <table class="table table-striped table-bordered" id="condpagtabela">
            <tbody>
                <% for (condpag of condpag){%>

                <tr>
                    <td>
                        <%= condpag.condpag_codigo%>
                    </td>
                    <td>
                        <%= condpag.condpag_descricao%>
                    </td>
                    <td><a class="btn btn-warning" href=<%="/condpag/" + condpag.condpag_codigo%>>Alterar</a> </td>
                    <td><a class="btn btn-danger" href=<%="/condpag/excluir/" + condpag.condpag_codigo%>>Deletar</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>

    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/relatorio/relatorio.js"></script>
</body>

</html>