<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid">
        <form action="/condpag/alterar/<%= condpag.condpag_codigo%>" method="post">
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Editar Condição de Pagamento</h2>
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                </div>
                <div class="col-md-1">
                    <label for="condpag">Codigo</label>
                    <input type="number" maxlength="20" value="<%= condpag.condpag_codigo%>" name="condpag_codigo"
                        class="form-control" id="cod" readonly>
                </div>
                <div class="col-md-1">
                    <label for="condpag">Dias</label>
                    <input type="text" maxlength="20" value="<%= condpag.condpag_descricao%>" name="condpag_descricao"
                        class="form-control" id="descricao" placeholder="00">
                </div>
            </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-md-5">

        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100px" padding-right=3 0px>Salvar</button>
        </div>
        <div>
            <div class="col-md-1">
                <a class="btn btn-secondary btn-block" href="/condpag" style="width: 100px">Voltar</a>
            </div>
        </div>
        </form>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>