<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid">
        <form action="/marca/alterar/<%= marca.marca_codigo%>" method="post">
            <div class="form-group row">
                <div class="col-md-5">
                </div>
                <h2 style="border-bottom: 1px #c5c5c5 solid;">Editar Marca</h2>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                    <label for="marca">Codigo</label>
                    <input type="number" maxlength="20" value="<%= marca.marca_codigo%>" name="marca_codigo" class="form-control"
                        id="cod" readonly>
                </div>
                <div class="col-md-2">
                    <label for="marca">Nome</label>
                    <input type="text" maxlength="20" value="<%= marca.marca_nome%>" name="marca_nome" class="form-control"
                        id="nome" placeholder="Nome">
                </div>
                <div class="col-md-4">
                    <label for="marca">Linha</label>
                    <input type="text" maxlength="50" value="<%= marca.marca_linha%>" name="marca_linha" class="form-control"
                        id="Linha" placeholder="Linha">
                </div>
            </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-md-4">

        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-block" style="width: 100px" padding-right=3 0px>Salvar</button>
        </div>
        <div>
            <div class="col-md-1">
                <a class="btn btn-secondary btn-block" href="/marca" style="width: 100px">Voltar</a>
            </div>
        </div>
        </form>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>