<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>
<style>
    body {
            background-color:#F5F5F5;
        }
    </style>
<body style="overflow: hidden;">
    <header>
        <% include ./partials/header %>
    </header>

    <div class="jumbotron" style="background-color: cadetblue;">
        <div class="container">
            <h1 class="display-4" style="display:flex;justify-content:center;font-style: italic;color: white"><b>PEDCONTROL</b></h1>
            <p class="lead" style="display:flex;justify-content:center;font-style: italic;color: white"><b>Mobilidade como diferencial
                na gestão de vendas</b></p>
        </div>
    </div>

    <div class="row" style="display:flex; justify-content:center; " >

        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">John Cleber Delfino</h5>
                <p class="card-text">Desenvolvedor e Analista do projeto PEDCONTROL.</p>
            </div>

            <div class="card-body">
                <a href="https://github.com/johncdsud" class="card-link">GitHub</a>
                <a href="https://www.linkedin.com/in/john-cleber-delfino-bb358531/" class="card-link">Linkedin</a>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">Célio Mulé Bianchi</h5>
                <p class="card-text">Desenvolvedor e Analista do projeto PEDCONTROL.</p>
            </div>

            <div class="card-body">
                <a href="https://www.facebook.com/celio.mule" class="card-link">Facebook</a>
                <a href="https://www.linkedin.com/in/c%C3%A9lio-mul%C3%A9-bianchi-b86a04171/" class="card-link">Linkedin</a>
            </div>
        </div>

    </div>


    <script src="/js/bootstrap/bootstrap.js"></script>
</body>

</html>