<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body style="overflow: hidden;">
    <header>
        <% include ./partials/header %>
    </header>

    </div>
    <div class="container" align="justify">
        <h3>A gestão de vendas é uma das formas usadas pelas empresas para encontrar no mercado os recursos necessários
            para suprir
            suas despesas e atingir seus objetivos financeiros. Diante da importância de se obter ótimos resultados com
            tais operações
            de vendas e, visando aproveitar a tecnologia do dia-a-dia para executar as tarefas do seu gerenciamento,
            foi elaborado um
            software para auxiliar nas atividades de planejamento, direção e controle de vendas. O uso da tecnologia
            Mobile para o
            desenvolvimento de aplicações pode trazer vantagens competitivas
            , uma vez que a mobilidade pode ser um fator diferencial
            para as empresas, além de que, para o produto proposto neste trabalho, não é necessário uso de servidores
            próprios para
            o armazenamento dos dados e os recursos necessários para a interação com o sistema são pequenos. O mercado
            pode aproveitar
            os benefícios que este tipo de plataforma oferece para facilitar a gestão do atendimento aos seus clientes,
            sem que haja
            a necessidade de aquisição de grandes estruturas de hardware e software.
    </div>
    <script src="/js/bootstrap/bootstrap.js"></script>
</body>

</html>