<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<style>
    body {
        background-color: #E0F2F7;
    }
</style>

<body style="overflow: hidden;">

    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-5">
            </div>
            <h2 style="border-bottom: 1px #c5c5c5 solid;">Nova Grade</h2>
        </div>
        <form action="/grade/nova" method="post">
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <label for="grade">Descrição</label>
                    <input type="text" maxlength="200" class="form-control" id="descricao" minlength="2" name="grade_descricao"
                        placeholder="Descrição da Grade">
                    <br>
                    <label for="grade">Numeração</label>
                    <input type="text" maxlength="200" class="form-control" id="numeracao" name="grade_numeracao"
                        placeholder="exemplo 31-32-33-34-35">
                    <br>
                </div>
                <div class="col-md-1">
                    <label for="grade">Ativo? </label>
                    <select class="form-control custom-select" name="grade_ativoinativo" id="ativoinativo">
                        <option>Sim</option>
                        <option>Não</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" style="margin-right: 25%;">
                <div class="col-md-7">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block">Salvar Grade </button>
                    <a class="btn btn-secondary btn-block" href="/grade">Voltar</a>
                </div>
            </div>




    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>