<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Sales Mobile 1.0</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<style>
    body {
        background-color: #E0F2F7;
    }
</style>

<body style="overflow: hidden;">
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container-fluid formulario">
        <div class="form-group row">
            <div class="col-md-5">
            </div>

            <h2 style="border-bottom: 1px #c5c5c5 solid;">Novo Usuário</h2>

        </div>
        <form action="/usuario/novo" method="post">
            <div class="container-fluid formulario">
                <div class="form-group row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <label for="nome">Nome</label>
                        <input type="text" maxlength="200" class="form-control" id="nome" minlength="2" name="user_nome"
                            placeholder="Digite seu nome">
                    </div>
                    <div class="col-md-4">
                        <label for="usuario">Usuário</label>
                        <input type="text" maxlength="10" class="form-control" id="usuario" name="user_usuario"
                            placeholder="Digite seu usuario">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <label for="senha">Senha</label>
                        <input type="password" maxlength="20" class="form-control" id="senha" name="user_senha"
                            placeholder="Digite sua senha">
                    </div>
                    <div class="col-md-4">
                        <label for="email">E-mail</label>
                        <input type="email" maxlength="30" class="form-control" id="email" name="user_email"
                            placeholder="Digite seu E-mail">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <label for="celular">Celular</label>
                        <input type="text" maxlength="20" class="form-control" id="celular" name="user_celular"
                            placeholder="Digite seu celular">
                    </div>
                    <div class="col-md-4">
                        <label for="codcelular">Codigo de Confirmação</label>
                        <input type="text" maxlength="20" class="form-control" id="codcelular" name="user_codcelular"
                            placeholder="Digite o codigo enviado ao seu celular">
                    </div>
                </div>
            </div>
    </div>

    <div class="form-group row" style="margin-right: 8%;">
        <div class="col-md-6">
        </div>
        <div>
            <div>
                <button type="submit" class="btn btn-primary btn-block">Salvar Usuário </button>
                <a class="btn btn-secondary btn-block" href="/usuario">Voltar</a>
            </div>
        </div>

        <script src="/js/bootstrap.js"></script>
</body>

</html>